version: '3.8'

services:
  favicon-generator:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: favicon-generator:latest
    container_name: favicon-generator
    ports:
      - "8080:80"
    restart: unless-stopped
